<mat-drawer-container class="min-h-full max-w-7xl mx-auto ">

  <mat-drawer mode="side" class="p-6" opened>
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </mat-drawer>

  <mat-drawer-content class="p-6">
    <app-products-header
      (LayoutViewChange)="onColumnsCountChange($event)"
      (setItemsShowCount)="onItemShowCountChange($event)"
      (setSortDesc)="onSortDescChange($event)"
    ></app-products-header>
    <mat-grid-list
      gutterSize="16"
      [cols]="this.colPerRow"
      [rowHeight]="this.rowHeight">

      <mat-grid-tile *ngFor="let product of products">
        <app-product-card
          [product]="product"
          (addToCart)="onAddToCart($event)"
          class="w-full"
          [fullWidth]="colPerRow === 1"></app-product-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>

</mat-drawer-container>
